<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.karl.carshop.mapper.OrderItemMapper">

    <resultMap id="OrderItemEntityMap" type="com.karl.carshop.entity.OrderItem">
        <result column="tid" property="tid"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="tid">

        INSERT INTO c_order_item (
            oid, gid, price, num, created_user, created_time, modified_user, modified_time
        ) VALUES (
            #{oid}, #{gid}, #{price}, #{num}, #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )
    </insert>

    <update id="update">
        UPDATE
            c_order_item
        SET
            tid = #{tid}, oid = #{oid}, gid = #{gid}, price = #{price}, num = #{num}, created_user = #{createdUser},
            created_time = #{createdTime}, modified_user = #{modifiedUser}, modified_time = #{modifiedTime}
        WHERE
            tid = #{tid}
    </update>

    <select id="listOrderItem" resultMap="OrderItemEntityMap">
        SELECT * FROM c_order_item
    </select>

    <select id="findOrderByTid" resultMap="OrderItemEntityMap">
        SELECT * FROM c_order_item WHERE tid = #{tid}
    </select>

</mapper>